@using Egitim5.Models
@model LoginViewModel
@{
    ViewBag.Title = "Üye Girişi";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Giriş yapmak için üyelik bilgilerinizi girin.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Giriş Yap" class="btn btn-default" />
                    </div>
                    <p class="col-md-8">
                        @Html.ActionLink("Henüz üye olmadıysanız kayıt olmak için buraya tıklayın.", "Register")
                    </p>
                </div>

                <h2>Giriş yapmak için aşağıdaki hesapları kullanabilirsiniz</h2>

                <ul>
                    <li>
                        <b>Yetkili Yönetici Girişi:</b>
                        <ul>
                            <li>E-posta: admin@@yaz5.com</li>
                            <li>Şifre: Aa123456!</li>
                        </ul>
                    </li>
                    <li>
                        <b>Makale Moderator Girişi:</b>
                        <ul>
                            <li>E-posta: makalemoderator@@yaz5.com</li>
                            <li>Şifre: Aa123456!</li>
                        </ul>
                    </li>
                    <li>
                        <b>Ekitap Moderator Girişi:</b>
                        <ul>
                            <li>E-posta: ekitapmoderator@yaz5.com</li>
                            <li>Şifre: Aa123456!</li>
                        </ul>
                    </li>
                </ul>

                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}