@using Entity
@using Entity.Models
@model EKitap
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Baslik</h1>
<p>@Model.KisaAciklama</p>
<p>@Model.EKitapIcerik</p>
<hr/>
<a href="~/Content/EkitapUpload/@Model.EKitapURL" target="_blank">E-Kitabı görüntülemek için tıklayın.</a>
<hr/>
<i>@Model.EklenmeTarihi.ToLongDateString()</i>
<p>
    @if (Model.Konular != null && Model.Konular.Count != 0)
    {
        foreach (Konu konu in Model.Konular)
        {
            <i>@konu.KonuBaslik</i> <text>,</text>
        }
    }
</p>
@if (Model.Konular != null)
{
    Html.Action("IlgiliKitaplar", new { id = Model.EKitapID });
}