<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CSS", false)
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="~/Content/images/logo.png" title="Egitim5" class="logo" /></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li @Html.Raw(Request.RequestContext.RouteData.Values["Controller"].ToString() == "Home" ? "class='active'" : "")>
                                @Html.ActionLink("Anasayfa", "Index", "Home")
                            </li>
                            <li @Html.Raw(Request.RequestContext.RouteData.Values["Controller"].ToString() == "Makale" ? "class='active'" : "")>
                                @Html.ActionLink("Makaleler", "Index", "Makale")
                            </li>
                            <li @Html.Raw(Request.RequestContext.RouteData.Values["Controller"].ToString() == "EKitap" ? "class='active'" : "")>
                                @Html.ActionLink("E-Kitaplar", "Index", "EKitap")
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Konu Yönetimi", "Index", "Konu")</li>
                                <li>@Html.ActionLink("Şikayet Listesi", "SikayetAdminPanel", "Sikayet")</li>
                            }


                        </ul>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            <ul class="nav navbar-nav pull-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name  @*<span class="caret"></span>*@</a>
                                        @*<ul class="dropdown-menu">
                                                <li><a href="#">Şifremi Değiştir</a></li>
                                                <li><a href="#">Profilim</a></li>
                                            </ul>*@
                                    </li>
                                    <li class="">

                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Çıkış Yap</a>

                                    </li>
                                }
                                else
                                {
                                    <li @Html.Raw(Request.RequestContext.RouteData.Values["Action"].ToString() == "Register" ? "class='active'" : "")>
                                        <a href="/Account/Register/">Kayıt Ol</a>
                                    </li>
                                    <li @Html.Raw(Request.RequestContext.RouteData.Values["Action"].ToString() == "Login" ? "class='active'" : "")>
                                        <a href="/Account/Login/">Giriş Yap</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </nav>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/MainScript")
    <div class="container" id="wrapper">@RenderBody()
    </div>

</body>
</html>
