@using Entity
@using Entity.Models
@model IEnumerable<EKitap>
@{ Layout = null;}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Son Kitaplar</h2>
            <ul class="event-list">
                @foreach (EKitap item in Model)
                {
                    <li>
                        <time datetime="2014-07-20 0000">
                            <span class="day">@item.EklenmeTarihi.Day</span>
                            <span class="month">@Utility.Converter.GetMonthName(item.EklenmeTarihi.Month)</span>
                            <span class="year">@item.EklenmeTarihi.Year</span>
                        </time>
                        <div class="info">
                            <h2 class="title"><a href="/EKitap/Detay/@item.EKitapID">@item.Baslik</a></h2>
                            <p class="desc">@item.EKitapIcerik</p>
                            <ul>
                                @if (item.Konular != null && item.Konular.Count != 0)
                                {
                                    foreach (Konu konu in item.Konular.Take(1))
                                    {
                                        <li style="width:50%;"><span class="fa fa-globe"></span> @konu.KonuBaslik</li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
