@using Entity
@using Entity.Models
@model IEnumerable<Makale>
@{ Layout = null;}
@if (Model != null)
{
   
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Son Makaleler</h2>
                <ul class="event-list">
                    @foreach (Makale item in Model)
                    {
                        <li>
                            <time datetime="@item.EklenmeTarihi.ToShortDateString() 0000">
                                <span class="day">@item.EklenmeTarihi.Day</span>
                                <span class="month">@Utility.Converter.GetMonthName(item.EklenmeTarihi.Month)</span>
                                <span class="year">@item.EklenmeTarihi.Year</span>
                            </time>
                            <div class="info">
                                <h2 class="title"><a href="/Makale/Detay/@item.MakaleID">@item.Baslik</a></h2>
                                <p class="desc">@item.KisaAciklama</p>
                                <ul>
                                    @if (item.Konular != null && item.Konular.Count != 0)
                                    {
                                        foreach (Konu konu in item.Konular.Take(2))
                                        {
                                            <li style="width:50%;"><span class="fa fa-globe"></span> @konu.KonuBaslik</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>


}
