@using Entity
@using Entity.Models
@model Makale
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<button class="btn btn-xs btn-danger col-md-1 skbtn"><span class="glyphicon glyphicon-pencil"></span> Şikayet Et</button>*@
<style>
    .skbtn{
        position: relative;
        top:30px;
    }
</style>
<div class="container">
    <div class="row ">
        <div>
            <h1 class="col-md-8">@Model.Baslik</h1>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Şikayet Et", "Index", "Sikayet", new { MakaleId = Model.MakaleID }, new { @class = "btn btn-xs btn-danger skbtn" })
            }
        </div>

    </div>
</div>

<style>
    .right {
        float: right;
    }
</style>
<h1>@Model.Baslik</h1>
<p>@Model.KisaAciklama</p>
<img src="@Model.ResimBase64"/>
<p>Görüntülenme:  @Model.GoruntulenmeSayisi</p>
<p>
    @Html.Raw(Model.MakaleIcerik.Replace(Environment.NewLine, "</p><p>"))
</p>
@if (Request.IsAuthenticated)
{

    <div class="right">
        <h3>Bu makaleyi oylamak ister misiniz?</h3>
        <ul class="list-inline">
            <li><button id="1" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
            <li><button id="2" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
            <li><button id="3" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
            <li><button id="4" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
            <li><button id="5" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>

        </ul>
    </div>
}
<hr />
<i>@Model.EklenmeTarihi.ToLongDateString()</i>

<p>
    @if (Model.Konular != null && Model.Konular.Count != 0)
    {
        foreach (Konu konu in Model.Konular)
        {
            <i>@konu.KonuBaslik</i> <text>,</text>
        }
    }
</p>
<<<<<<< HEAD
<hr/>

    @Html.Action("YorumEkle", "Yorum")
    @Html.Action("YorumGoruntule", "Yorum")
    @Html.Action("IlgiliMakaleler", new { id = Model.MakaleID });
=======
<hr />
@Html.Action("IlgiliMakaleler", new { id = Model.MakaleID });
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    //$(".skbtn").click(function () {
    //    var makaleid=$(.idm).te
    //    $.ajax({
    //        method: "POST",
    //        url: "/Sikayet/"
    //        data:{MAdi:Action}
    //    })
    //})
</script>


<script>
       $(".glyphicon-star").click(function () {

           var oy = $(this).attr("id");
           console.log(oy);
           var MakaleID=@Model.MakaleID;

           $.ajax({

               url: "/Makale/MakaleOy/"+MakaleID,
               data: { "oy": oy },
               method: "POST",
               success: function (cevap) {
                   alert(cevap)
               }

           })

       })
</script>
<hr/>
@Html.Action("IlgiliMakaleler", new { id = Model.MakaleID })
@Html.Action("AlakaliMakaleler", new { id = Model.MakaleID })
>>>>>>> 364cedb898becf01efb4579e8ca09ab8e803274f
